

.header {
    background-color: #e7e3e3;
    text-align: center;
    padding: 20px;
    margin-bottom: 2em;
}

.profile-section {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #100d0d;
    background-color: #f8fcf8;
    text-align: center;
}

.profile-img {
    width: 150px;
    border-radius: 10%;
    border: 2px solid gray;
}

.bio {
    font-size: 110%; 
    color: #444;
}

.footer {
    background-color: #c8c2c2;
    text-align: center;
    padding: 10px;
    margin-top: 7em;
}